@import "../../mainColors";
.absoluteContainer {
  .searchContainer {
    padding: 2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: $main;
    border-radius: 15px;
    h1 {
      margin: 0 2rem;
      color: $third;
      font-size: 2rem;
    }
    h2 {
      color: $third;
    }
    .search {
      margin: 0.3rem 0;
      padding: 0.2rem 0;
      padding-inline-start: 0.4rem;
      padding-inline-end: 30px;
      width: 80%;
      border: 1px solid $third;
      font-size: 1.1rem;
      border-radius: 1rem;
      background: url("../../CSSImages/magnifier.svg") no-repeat right;
      background-position-x: calc(100% - 8px);
      background-size: 20px;
    }
    .chatContainer {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 80%;
      border-top: 3px solid $third;
      border-bottom: 3px solid $third;
      border-radius: 5px;
      max-height: 30vh;
      div {
        margin: 0.2rem 0;
        display: flex;
        align-items: center;
        width: 100%;
      }
      img {
        height: 55px;
        border-radius: 50%;
      }
      p {
        margin-left: 5px;
        font-size: 1.1rem;
      }
      button {
        padding: 0.2rem 0.8rem;
        margin-left: auto;
        margin-right: 0.2rem;
        background-color: rgba(76, 175, 80, 0.8);
        border: none;
        color: green;
        text-transform: capitalize;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
          background-color: rgb(76, 175, 80);
        }
      }
    }
  }
}
